.layoutContainer {
  display: flex;
  background-color: #f8fafc;
  min-height: 100vh;
}

.mainWrapper {
  flex-grow: 1;
  margin-left: 260px;
  display: flex;
  flex-direction: column;
}

.contentArea {
  margin-top: 75px;
  flex-grow: 1;
}

@media (max-width: 1024px) {
  .mainWrapper { margin-left: 0; }
}
